.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/public/assets/icon/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.register-card{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    height: 550px;
    background-color: maroon;
}

